* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.font-bebas {
    font-family: 'Bebas Neue', cursive;
}

.button-linear-gradient {
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    transition: all 0.3s ease;
}

.shadow-lg {
    transition: transform 0.3s ease-in-out;
}